# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
win_num*
notes/numerik.out
notes/numerik.pdf
